@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*FONTS*/
@font-face {
  font-family: "Lekton";
  src: url("Lekton-Regular.eot");
  src: url("Lekton-Regular.eot?#iefix") format("embedded-opentype"), url("Lekton-Regular.woff2") format("woff2"), url("Lekton-Regular.woff") format("woff"), url("Lekton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Edo";
  src: url("Edo.eot");
  src: url("Edo.eot?#iefix") format("embedded-opentype"), url("Edo.woff2") format("woff2"), url("Edo.woff") format("woff"), url("Edo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Monitorica";
  src: url("Monitorica.eot");
  src: url("Monitorica.eot?#iefix") format("embedded-opentype"), url("Monitorica.woff2") format("woff2"), url("Monitorica.woff") format("woff"), url("Monitorica.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

/*Иконка сообщения*/
.message {
  display: none;
  position: fixed;
  z-index: 10;
  width: 56px;
  height: 56px;
  bottom: 20px;
  right: 15px;
  cursor: pointer;
}
.message:before {
  content: "";
  display: block;
  width: 55px;
  height: 55px;
  background: black;
  position: absolute;
  left: -6px;
  top: -5px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  animation: pulse 3s infinite;
  cursor: pointer;
}

.message__showed_links {
  display: none;
  position: fixed;
  width: 62px;
  height: 300px;
  background: white;
  right: 15px;
  bottom: 20px;
  z-index: 99999999999;
  border-radius: 20px 20px 30px 30px;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.8);
}
.message__showed_links .links {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.message__showed_links .links img {
  width: 100%;
  display: block;
}
.message__showed_links .close_message {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 20%;
  cursor: pointer;
}
.message__showed_links .close_message:before {
  content: "";
  position: absolute;
  display: block;
  top: 25px;
  left: 10px;
  width: 30px;
  height: 3px;
  background: black;
  transform: rotate(-45deg);
}
.message__showed_links .close_message:after {
  content: "";
  position: absolute;
  top: 25px;
  left: 10px;
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  transform: rotate(45deg);
}

.show {
  display: block;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

/*Чтобы меню выскальзывало*/
body {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow-x: hidden;
}

/*Общий отступ по бокам*/
section {
  padding: 0 100px;
}
@media (max-width: 1189px) {
  section {
    padding: 0 20px;
  }
}

/*SLIDER*/
section[slider] {
  overflow-x: hidden;
  /*Название*/
  /*обертка на навигацию*/
  /*навигация*/
  /*Большое фото*/
}
section[slider] .title-wrap {
  background: url("../img/sliders/default/first-mazok.png") no-repeat 0% 50%;
  background-size: 20% auto;
}
@media (max-width: 1189px) {
  section[slider] .title-wrap {
    width: 850px;
  }
}
@media (min-width: 1190px) {
  section[slider] .title-wrap {
    max-width: 1100px;
  }
}
section[slider] .title-wrap .title-text {
  margin-left: -5px;
  font-family: "Monitorica";
  font-size: 48px;
  color: white;
  mix-blend-mode: difference;
  padding: 20px;
}
@media (max-width: 1189px) {
  section[slider] .title-wrap .title-text {
    font-size: 34px;
  }
}
section[slider] .slider-nav-wrapper {
  display: flex;
  justify-content: center;
}
@media (max-width: 1189px) {
  section[slider] .slider-nav-wrapper {
    /*MOBILE* не показываем навигацию слайдера на мобильных устройствах*/
    display: none;
  }
}
section[slider] .slider-nav, section[slider] .slider-nav2, section[slider] .slider-nav3 {
  width: 85%;
  /* Текущий слайд в навигации */
}
section[slider] .slider-nav div, section[slider] .slider-nav2 div, section[slider] .slider-nav3 div {
  height: 90px;
}
section[slider] .slider-nav div img, section[slider] .slider-nav2 div img, section[slider] .slider-nav3 div img {
  margin-right: 20px;
  width: 210px;
  height: 90px;
  object-fit: cover;
}
section[slider] .slider-nav [class~=slick-current] img, section[slider] .slider-nav2 [class~=slick-current] img, section[slider] .slider-nav3 [class~=slick-current] img {
  border: 1px solid #3E3E3E;
}
section[slider] .slider-for, section[slider] .slider-for2, section[slider] .slider-for3 {
  height: 80%;
  margin-bottom: 20px;
}
section[slider] .slider-for div, section[slider] .slider-for2 div, section[slider] .slider-for3 div {
  height: 100%;
}
section[slider] .slider-for div img, section[slider] .slider-for2 div img, section[slider] .slider-for3 div img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

/* Arrows слайдера*/
@media (max-width: 1189px) {
  .slick-prev {
    top: 50%;
    left: 0px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 45px;
    padding: 11px;
  }
  .slick-prev:before {
    content: "";
    display: block;
    opacity: 1;
    background: url("../img/sliders/default/mobile-left-arrow.svg") no-repeat;
    background-size: 100%;
    height: 45px;
    width: 23px;
    transition: 0.3s;
  }
  .slick-prev:hover, .slick-prev:focus {
    background: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1190px) {
  .slick-prev {
    top: 35px;
    left: -100px;
  }
  .slick-prev:before {
    content: "";
    display: block;
    background: url("../img/sliders/default/left-arrow-active.png");
    height: 45px;
    width: 23px;
    transition: 0.3s;
  }
}

@media (max-width: 1189px) {
  .slick-next {
    top: 50%;
    right: 0px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 45px;
    padding: 11px;
  }
  .slick-next:before {
    content: "";
    display: block;
    opacity: 1;
    background: url("../img/sliders/default/mobile-right-arrow.svg") no-repeat;
    background-size: 100%;
    height: 45px;
    width: 23px;
    transition: 0.3s;
  }
  .slick-next:hover, .slick-next:focus {
    background: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 1190px) {
  .slick-next {
    top: 35px;
    right: -100px;
  }
  .slick-next:before {
    content: "";
    background: url("../img/sliders/default/right-arrow-active.png");
    display: block;
    height: 45px;
    width: 23px;
    transition: 0.3s;
  }
}

.place {
  position: absolute;
  top: -25px;
  right: -10px;
  width: 50px;
  height: 50px;
}

/* OPEN AND CLOSE MENU */
.burger {
  cursor: pointer;
  position: fixed;
  top: 40px;
  z-index: 11;
  width: 30px;
  height: 3px;
  background: black;
}
@media (min-width: 481px) {
  .burger {
    right: 35px;
  }
}
@media (max-width: 480px) {
  .burger {
    right: 20px;
  }
}
.burger:before {
  content: "";
  position: absolute;
  top: -6px;
  width: 30px;
  height: 3px;
  background: inherit;
}
.burger:after {
  content: "";
  position: absolute;
  top: 6px;
  width: 30px;
  height: 3px;
  background: inherit;
}

@keyframes burgerpulse {
  0% {
    background: black;
  }
  70% {
    background: white;
  }
  100% {
    background: black;
  }
}
.closer, .close-desktop-menu {
  cursor: pointer;
  position: absolute;
  top: 40px;
  z-index: 11;
}
@media (min-width: 481px) {
  .closer, .close-desktop-menu {
    right: 40px;
  }
}
@media (max-width: 480px) {
  .closer, .close-desktop-menu {
    right: 20px;
  }
}
.closer:before, .close-desktop-menu:before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  transform: rotate(-45deg);
}
.closer:after, .close-desktop-menu:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  transform: rotate(45deg);
}

.closer {
  position: fixed;
}

/*------------------------*/
menu {
  transition: 0.5s;
}
@media (max-width: 1189px) {
  menu {
    /*MOBILE common*/
    position: fixed;
    z-index: 10;
    width: 110vw;
    left: -110vw;
  }
}
@media (min-width: 1190px) {
  menu {
    /*DESKTOP*/
    position: fixed;
    width: 450px;
    z-index: 10;
    left: -450px;
  }
}
menu .menu {
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
menu .menu ul li {
  margin-bottom: 20px;
  font-family: "Monitorica";
  font-size: 34px;
}
menu .menu ul li:last-child {
  margin-bottom: 0;
}
menu .menu ul li a {
  color: black;
  transition: 0.3s;
}
menu .menu ul li a:hover {
  padding-left: 5px;
}

/*Хедер*/
header .container-fluid {
  padding: 0;
}
@media (max-width: 1190px) {
  header .container-fluid .row:nth-child(1) {
    /*MOBILE common (не показываем первую строку)*/
    display: none;
  }
}
header .container-fluid .row:nth-child(1) .col {
  height: 610px;
  position: relative;
}
header .container-fluid .row:nth-child(1) .col:nth-child(1):after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -4px;
  height: 244px;
  width: 8px;
  background: black;
}
header .container-fluid .row:nth-child(1) .col:nth-child(2):after {
  content: "";
  position: absolute;
  z-index: 1;
  right: -4px;
  height: 488px;
  width: 8px;
  background: black;
}
header .container-fluid .row:nth-child(2) {
  /* MOBILE VERSION */
}
@media (min-width: 1190px) {
  header .container-fluid .row:nth-child(2) {
    max-height: 350px;
  }
}
@media (max-width: 1189px) {
  header .container-fluid .row:nth-child(2) {
    margin-bottom: 50px;
    transform: scale(0.9);
  }
}
header .container-fluid .row:nth-child(2) .col {
  text-align: center;
}
@media (min-width: 1190px) {
  header .container-fluid .row:nth-child(2) .col {
    /*DESKTOP*/
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) {
    /*PROFESSIONAL PHOTOGRAPHER */
    display: flex;
    justify-content: flex-end;
    font-family: "Edo";
    font-size: 48px;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) .title {
    margin-right: -30px;
    /*Мазок*/
    height: 200px;
    position: absolute;
    padding: 40px 50px;
    background: url("../img/header/rb.png") no-repeat 50% 55%;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) .title div:nth-child(1) {
    /*PROFESSIONAL*/
    text-align: rigth;
    margin-left: -30px;
    margin-bottom: 15px;
    color: white;
    mix-blend-mode: difference;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) .title div:nth-child(2) {
    /*PHOTOGRAPHER*/
    text-align: rigth;
    margin-right: -33px;
    color: white;
    mix-blend-mode: difference;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(3) {
    /* MAXIM KULIKOV */
    padding-top: 40px;
    font-size: 64px;
    font-family: "Lekton";
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(3) div:nth-child(1) {
    /*MAXIM*/
    text-align: left;
    padding-left: 30px;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(3) div:nth-child(2) {
    /*KULIKOV*/
    text-align: left;
    margin-left: -33px;
  }
}
header .container-fluid .row:nth-child(2) .col:nth-child(2) {
  /*AVATAR*/
}
header .container-fluid .row:nth-child(2) .col:nth-child(2) .avatar-wrapper {
  position: relative;
}
header .container-fluid .row:nth-child(2) .col:nth-child(2) .avatar-wrapper > .avatar {
  margin: 0 auto;
  max-width: 30%;
  border: 8px solid black;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 720px) {
  header .container-fluid .row:nth-child(2) .col:nth-child(2) .avatar-wrapper > .avatar {
    max-width: 50%;
  }
}
@media (min-width: 1190px) {
  header .container-fluid .row:nth-child(2) .col:nth-child(2) .avatar-wrapper > .avatar {
    max-width: 70%;
    transform: translate(0, -50%);
    top: 50%;
    left: 50%;
  }
}
header .container-fluid .row:nth-child(2) .col:nth-child(2) .avatar-wrapper > .avatar img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 1190px) {
  header .container-fluid .row:nth-child(2) {
    padding-top: 40px;
    flex-direction: column;
  }
  header .container-fluid .row:nth-child(2) .col {
    text-align: center;
    flex-basis: auto;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) {
    order: 2;
    font-family: "Edo";
    font-size: 29px;
    letter-spacing: 0.1em;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(1) .title div:last-child {
    /*PROFESSIONAL*/
    width: 400px;
    line-height: 50px;
    font-size: 30px;
    height: 50px;
    color: white;
    background: url("../img/header/мазок.png") no-repeat 50% 50%;
    background-size: 100%;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(3) {
    order: 3;
    /*MAXIM KULIKOV*/
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: "Lekton";
    font-size: 30px;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(3) div:first-child {
    padding-right: 5px;
  }
  header .container-fluid .row:nth-child(2) .col:nth-child(3) div:last-child {
    padding-left: 5px;
  }
}

/*VIEW MORE*/
section[view-more] {
  margin: 10vw 0;
}
section[view-more] .wrapper {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1190px) {
  section[view-more] .wrapper {
    justify-content: center;
  }
}
section[view-more] .camera img {
  width: 100%;
  animation: spin 50s linear infinite;
}
section[view-more] .text-wrap {
  padding: 15px;
  font-family: "Monitorica";
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1189px) {
  section[view-more] .text-wrap {
    font-size: 5.4vw;
  }
}
@media (min-width: 1190px) {
  section[view-more] .text-wrap {
    margin-left: 100px;
  }
}
@media (max-width: 321px) {
  section[view-more] .text-wrap {
    font-size: 5vw;
  }
}
section[view-more] .text-wrap .text {
  cursor: pointer;
}
section[view-more] .text-wrap .underline {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background: black;
}

/*SPIN ANIMATION*/
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*contacts*/
@media (min-width: 1190px) {
  /*DESKTOP*/
  section[contacts] {
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  section[contacts] .container-fluid {
    padding: 0;
  }
  section[contacts] .social__title {
    /*Связаться со мной*/
    width: 474px;
    height: 209px;
    background: url("../img/social_title.png");
  }
  section[contacts] .social__links {
    margin-top: -50px;
  }
  section[contacts] .social__links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  section[contacts] .social__links tr:first-child td {
    padding-bottom: 20px;
  }
  section[contacts] .social__links td {
    text-align: center;
    padding-right: 20px;
  }
  section[contacts] .social__links td:nth-child(2) {
    padding-right: 0;
  }
  section[contacts] .for-mobile-only {
    /*ИЛИ*/
    display: none;
  }
  section[contacts] .contact-form {
    width: 800px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    font-family: "Monitorica";
    font-size: 34px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section[contacts] .contact-form .title {
    /*Оставить заявку*/
    width: 465px;
    height: 195px;
    background: url("../img/form1.png");
  }
  section[contacts] .contact-form .list {
    width: 75%;
  }
  section[contacts] .contact-form .list ul {
    display: flex;
    justify-content: space-around;
  }
  section[contacts] .contact-form .list ul li {
    color: white;
    list-style: none;
    position: relative;
  }
  section[contacts] .contact-form .list ul li:before {
    /*Галочки*/
    content: "";
    position: absolute;
    left: -40px;
    top: 4px;
    width: 32px;
    height: 32px;
    background: url("../img/tick.svg");
  }
  section[contacts] .contact-form form {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section[contacts] .contact-form form input {
    width: 640px;
    margin-bottom: 12px;
    text-align: center;
    color: white;
    background: transparent;
    border: 1px solid #fff;
  }
  section[contacts] .contact-form form input:nth-child(2) {
    margin-bottom: 0;
  }
  section[contacts] .contact-form form input::placeholder {
    opacity: 1;
    color: #fff !important;
  }
  section[contacts] .contact-form form [type=submit] {
    /*Кнопка отправить*/
    width: 30%;
    height: 56px;
    margin: 25px 0;
    transition: 0.5s;
  }
  section[contacts] .contact-form form [type=submit]:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
  }
}
@media (max-width: 1189px) {
  /*Mobile*/
  section[contacts] {
    background: black;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  section[contacts] .social {
    order: 1;
    /*Костыль, чтобы выставить иконки в ряд*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section[contacts] .social__links-wrapper {
    display: flex;
    justify-content: center;
  }
  section[contacts] .social tbody {
    display: flex;
  }
  section[contacts] .social tbody tr {
    display: flex;
    align-content: center;
  }
  section[contacts] .social tbody tr:first-child td:first-child {
    /*INST*/
  }
  section[contacts] .social tbody tr:first-child td:first-child svg * {
    fill: white;
  }
  section[contacts] .social tbody tr:first-child td:nth-child(2) {
    /*VK*/
  }
  section[contacts] .social tbody tr:first-child td:nth-child(2) svg path {
    fill: white;
  }
  section[contacts] .social tbody tr:first-child td:nth-child(2) svg rect {
    fill: transparent;
  }
  section[contacts] .social tbody tr:nth-child(2) td:first-child {
    /*WHATSAPP*/
  }
  section[contacts] .social tbody tr:nth-child(2) td:first-child svg:nth-child(1) > g:nth-child(1) > path:nth-child(1) {
    fill: white;
  }
  section[contacts] .social tbody tr:nth-child(2) td:first-child svg:nth-child(1) > g:nth-child(1) > path:nth-child(2) {
    fill: black;
  }
  section[contacts] .social tbody tr:nth-child(2) td:nth-child(2) {
    /*VK*/
  }
  section[contacts] .social tbody tr:nth-child(2) td:nth-child(2) svg:nth-child(1) > g:nth-child(1) > path:nth-child(1) {
    fill: white;
  }
  section[contacts] .social tbody tr:nth-child(2) td:nth-child(2) svg:nth-child(1) > g:nth-child(1) > path:nth-child(2) {
    fill: black;
  }
  section[contacts] .social tbody td {
    /*ВСЕ ИКОНКИ*/
    transform: scale(0.7);
  }
  section[contacts] .social__title {
    /*Связаться со мной*/
    align-self: center;
    width: 374px;
    height: 173px;
    background: url("../img/mobile-contact.png");
  }
}
@media (max-width: 1189px) and (max-width: 380px) {
  section[contacts] .social__title {
    transform: scale(0.7);
    margin-top: -30px;
  }
}
@media (max-width: 1189px) and (max-width: 380px) {
  section[contacts] .social__links {
    transform: scale(0.9);
    margin: -30px 0 0 0;
  }
}
@media (max-width: 1189px) and (max-width: 320px) {
  section[contacts] .social__links {
    transform: scale(0.8);
  }
}
@media (max-width: 1189px) {
  section[contacts] .for-mobile-only {
    order: 2;
    /*ИЛИ*/
    position: relative;
    display: block;
    color: white;
    margin: 40px auto 0px auto;
    font-family: "Monitorica";
    font-size: 34px;
  }
  section[contacts] .for-mobile-only:before {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background: white;
    top: 50%;
    left: -85px;
  }
  section[contacts] .for-mobile-only:after {
    content: "";
    position: absolute;
    width: 75px;
    height: 1px;
    background: white;
    top: 50%;
    left: 59px;
  }
}
@media (max-width: 1189px) and (max-width: 380px) {
  section[contacts] .for-mobile-only {
    font-size: 30px;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form {
    order: 3;
    width: 100%;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    font-family: "Monitorica";
    font-size: 34px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section[contacts] .contact-form .title {
    align-self: center;
    width: 374px;
    height: 173px;
    background: url("../img/mobile-contact2.png");
  }
}
@media (max-width: 1189px) and (max-width: 380px) {
  section[contacts] .contact-form .title {
    transform: scale(0.7);
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form .list {
    width: 75%;
  }
}
@media (max-width: 1189px) and (max-width: 320px) {
  section[contacts] .contact-form .list {
    margin-top: -30px;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form .list ul {
    display: flex;
    justify-content: center;
  }
  section[contacts] .contact-form .list ul li {
    color: white;
    list-style: none;
    position: relative;
  }
  section[contacts] .contact-form .list ul li:first-child {
    margin-right: 60px;
  }
}
@media (max-width: 1189px) and (max-width: 456px) {
  section[contacts] .contact-form .list ul li:first-child {
    margin-right: 50px;
  }
}
@media (max-width: 1189px) and (max-width: 378px) {
  section[contacts] .contact-form .list ul li:first-child {
    margin-right: 35px;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form .list ul li:before {
    content: "";
    position: absolute;
    left: -40px;
    top: 4px;
    width: 32px;
    height: 32px;
    background: url("../img/tick.svg");
  }
}
@media (max-width: 1189px) and (max-width: 597px) {
  section[contacts] .contact-form .list ul li:before {
    transform: scale(0.8);
    top: 0;
  }
}
@media (max-width: 1189px) and (max-width: 455px) {
  section[contacts] .contact-form .list ul li:before {
    transform: scale(0.7);
    left: -32px;
    top: -2px;
  }
}
@media (max-width: 1189px) and (max-width: 378px) {
  section[contacts] .contact-form .list ul li:before {
    transform: scale(0.55);
    top: -5px;
  }
}
@media (max-width: 1189px) and (max-width: 643px) {
  section[contacts] .contact-form .list ul li {
    font-size: 5vw;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form form {
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1189px) and (max-width: 320px) {
  section[contacts] .contact-form form {
    margin-top: 20px;
  }
}
@media (max-width: 1189px) and (max-width: 643px) {
  section[contacts] .contact-form form {
    font-size: 5vw;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form form input {
    width: 100%;
    max-width: 640px;
    margin-bottom: 12px;
    text-align: center;
    color: white;
    min-height: 40px;
    background: transparent;
    border: 1px solid #fff;
  }
  section[contacts] .contact-form form input:nth-child(2) {
    margin-bottom: 0;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form form input::placeholder {
    opacity: 1;
    color: #fff !important;
  }
}
@media (max-width: 1189px) {
  section[contacts] .contact-form form [type=submit] {
    height: 56px;
    margin: 25px 0;
    transition: 0.5s;
    padding: 0 5px;
  }
  section[contacts] .contact-form form [type=submit]:hover {
    background: transparent;
    border: 1px solid white;
    color: white;
  }
}
@media (max-width: 1189px) and (max-width: 480px) {
  section[contacts] .contact-form form [type=submit] {
    height: 40px;
    width: 30%;
  }
}